---
import CodeCompo from './CodeCompo.astro';

interface Props {
	title: string;
	body: string;
	href: string;
	id: string;
}

const { href, title, body, id} = Astro.props;
---

<section
	id={id}
	data-section={id}
    class=" text-2xl pt-44"
    >
        {title} 
        <a 
        href={href}
        target="_blank"
        rel="noopener"  
        class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300"
        >
        View JSON
    </a>   
    </p>

    <spam class="">
        {body}
    </spam>
    <p>
       <slot/>
    </p>
</section>